<a href="https://colab.research.google.com/github/RhFz1/TensorFlow_Regression/blob/main/Kaggle_Auto_MPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **The initial stuff importing the libraries, reading the dataset, exploring the dataset**

In [112]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [113]:
df = pd.read_csv("auto-mpg.csv")

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [115]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [116]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

# **Replacing the ?'s present in the horsepower and label encoding the car name column**

In [117]:
df.replace(to_replace = "?" , value = 0 , inplace = True)

In [118]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["car name"] = le.fit_transform(df["car name"])

## **Seperating the features and labels**

In [119]:
X = df.iloc[: , 1 :].values
y = df['mpg'].values

## **Scaling the Feature values using the min-max scaling operation**

In [120]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
c = ms.fit(X)
X = c.transform(X)

## **Splitting the features and labels into training and testing data**

In [121]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

## **Importing the metric libraries**

In [122]:
from sklearn.metrics import r2_score, mean_squared_error

## **Fitting the training data on Linear Regression Model and testing the r2_score**

In [139]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train , y_train)
y_pred_ll = lm.predict(X_test)
r2_score(y_pred_ll , y_test)

0.8499664221604393

## **Fitting on Lasso**

In [140]:
from sklearn.linear_model import Lasso
las = Lasso(alpha = 1)
las.fit(X_train , y_train)
y_pred_la = las.predict(X_test)
r2_score(y_pred_la, y_test)

-1.357654336638121

## **Fitting on Ridge**

In [141]:
from sklearn.linear_model import Ridge
rid = Ridge(alpha = 0.9)
rid.fit(X_train , y_train)
y_pred_ri = rid.predict(X_test)
r2_score(y_pred_ri , y_test)

0.8391021418639735

## **Fitting on ElasticNet**

In [142]:
from sklearn.linear_model import ElasticNet
ela = ElasticNet(alpha = 1)
ela.fit(X_train , y_train)
y_pred_el = ela.predict(X_test)
r2_score(y_pred_el , y_test)

-7.52020547158558